*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav .nav-right-section .menu-icon{
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 26px;
    height: 26px;

}